.cv .heading {
    width: 100%;
    align-items: center;
    padding-left: 8%;
}

/* CV Content Wrapper */
.cv-content {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Left and middle */
    gap: 20px;
    margin: 0 auto;
    max-width: 1000px;
    font-family: Arial, sans-serif;
    margin-bottom: 20vh; 
}

.left-section h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.left-section ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.left-section ul li {
    font-size: 1rem;
    font-weight: 450;
    margin-bottom: 8px;
}

.middle-section h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.middle-section ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.middle-section ul li {
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 1.6;
}

.middle-section p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 10px;
}


@media (max-width: 768px) {
    .cv-content {
        grid-template-columns: 1fr; 
    }

    .cv .heading {
        font-size: 28px;
    }

    .left-section h3, .middle-section h3 {
        font-size: 22px;
    }

    .middle-section ul li, .left-section ul li {
        font-size: 14px;
    }
}

.divider {
    width: 100%;
    height: 1px; 
    background-color: #333; 
    margin: 20px 0; 
}

.custom-underline {
    display: inline-block; 
    border-bottom: 2px solid #333; 
    padding-bottom: 4px; 
    background-color: lightgray;
    color: black;
}


