.scroll-container {
    position: relative;
    overflow: hidden; /* Ensures content outside the container is hidden */
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.scroll {
    white-space: nowrap;
    margin: 0 2em;
    position: relative;
}

.scroll div {
    display: flex;
    gap: 5em; /* Adjust the gap to increase space between the text items */
}

.scroll p {
    font-size: 4vw;
    color: black;
    font-weight: bold;
    line-height: 100px;
}

.RightToLeft {
    animation: RightToLeft 20s infinite linear;
}

@keyframes RightToLeft {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

.LeftToRight {
    animation: LeftToRight 20s infinite linear;
}

@keyframes LeftToRight {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

/* Add fade effect on the sides */
.scroll-container::before,
.scroll-container::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30%; 
    pointer-events: none;
    z-index: 1;
}

.scroll-container::before {
    left: 0;
    background: linear-gradient(to right, #f5f5dc, rgba(255, 255, 255, 0));
}

.scroll-container::after {
    right: 0;
    background: linear-gradient(to left, #f5f5dc, rgba(255, 255, 255, 0));
}
